# Plugin/Extension specific rules that override/extend the global .gitignore file!


.idea/*
!.idea/runConfigurations/
!.idea/deployment.xml
!.idea/jsonSchemas.xml
!.idea/php.xml
!.idea/sshConfigs.xml
!.idea/vcs.xml
!.idea/webServers.xml

vendor/
vendor_bak/

.cache/

.env

zip/

src/public/admin-zone.*
src/public/client-zone.*


src/server/App/Settings.php


